h1 {
    text-align: center;
    font-family: Lucida Sans;
    font-size: 20px;
}

img {
    display: block;
    margin: auto;
}

p {
    text-align: center;
    font-size: 15px;
    font-family: Lucida Sans;
}

.cs2carousel {
    .cs2carousel:hover {
        animation-play-state: "paused";} 
}

.card {
    display: block;
    margin: auto;
}

video {
    display: block;
    margin: auto;
}

@media (max-width: 600px) {
    h1 {
        font-size: 16px;
    }
    h2 {
        font-size: 12px;
    }
    p {
        font-size: 15px;
    }

    video {
        width: 220px;
        height: 180px;
    }
}
